.tree {
    background-color: #181818;
    font-size: 13px;
}

.file_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    user-select: none;
}

.tree_node {
    color: #CCCCCC;
    align-items: center;

    &:hover {
        cursor: pointer;
        background-color: rgb(90, 86, 82);
    }
}

.icon {
    flex-shrink: 0;
    height: 16px;
    width: 16px;
    margin-right: 5px;
}

.hide-after-first>div:nth-child(n+2) {
    display: none;
}